extends ../template.pug
block content
  .container
    .row
      .video video
    .row.text-center ¡Visita SyncLab.com desde tu celular y comienza a jugar!
    br 
    |El código de sincronización es:
    .row
      .code.text-center #{code}
  .container.lightbox
  |
  .container.box.text-center: p Los dispositivos se han conectado satisfactoriamente, comienza el juego desde tu celular.
  .ajax
