body{
  background-color: #DADADA;
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('scripts/89edb1d76017fdb8b462f44aa002bf70.png');
  overflow: hidden;
}
.header .logo{
  margin: 1em 0;
  height: 4.5em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('scripts/12827e5b4d08ac8c4d6835e2872ad906.png');
}
.container .video {
  height: 10em;
  margin-top: 2em;
  margin-bottom: 6em;
  background-color: #AAAAAA;
}
.container .row .codeForm{
  margin-top: 6em;
}
.lightbox{
  z-index: 4;
  max-width: none;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #666;
  display: none;
  opacity: .85;
  position: absolute;
  top: 0;
  left: 0;
}
.box {
  max-width: none;
  width: 80%;
  z-index: 5;
  background-color: #DDD;
  height: 40vh;
  margin: 30vh 10%;
  opacity: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
}
.box button{
  margin-top: 3em;
}
.box p{
  margin-top: 10vh;
}
.container .row .code{
  font-size: 6em;
}
.text-center{
  text-align: center;
}
.float-right{
  float: right;
}
@media (min-width: 550px) {
  body{
    background-image: url('scripts/ce1a2666166e71871fb60576eb9338a2.png');
  }
  .container .video{
    height: 30em;
    margin-bottom: 2em;
    margin-top: 0;
  }
  .header .logo{
    height: 4.5em;
  }
}
